{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Contact Us</h1>
    <p class="text-center">We'd love to hear from you! Whether you have questions, feedback, or need assistance, reach out to us.</p>

    <div class="row my-4">
        <div class="col-md-6">
            <h2>Get in Touch</h2>
            <form method="POST" action="{{ url_for('contact') }}">
                <div class="form-group">
                    <label for="name">Your Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Your Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Your Message</label>
                    <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>

        <div class="col-md-6">
            <h2>Our Location</h2>
            <p><strong>Page Turner Bookstore</strong><br>
            123 Book St.<br>
            Literature City, LT 12345</p>
            <h5>Store Hours:</h5>
            <p>Monday - Friday: 9 AM - 6 PM<br>
            Saturday: 10 AM - 5 PM<br>
            Sunday: Closed</p>

            <h2>Follow Us</h2>
            <p>Stay connected and follow us on social media:</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://www.facebook.com/PageTurnerBookstore" target="_blank">Facebook</a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.twitter.com/PageTurnerBooks" target="_blank">Twitter</a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.instagram.com/PageTurnerBookstore" target="_blank">Instagram</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
